.purple-sweater-hero {
    background-image: url(/JRfinal-project/img/jenny-purple-recline-sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    color: #fff;
    position: relative;
    overflow: hidden;
    top: 20;
    height: 400px;
}