.guitar-hero {
    background-image: url(/JRfinal-project/img/blackandwhiteguitar.jpg);
    background-repeat: no-repeat;
    background-size:1209px 750px;
    background-position: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    top: 20;
    height: 400px;
}
/*This is the second container*/
.second-container {
    height: 500px;
}
.red-shirt-photo {
    background-image: url(/JRfinal-project/img/red-shirt.jpg);
    height: 200px;  
}
.recordings {
    background-color: #e8e8e8;
}
.respond {
    width: 170;
    height: 170;
}